.hero_section_container {
    height: 92vh;
    width:100vw ;
    display:flex;
    justify-content: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero_section_content{
    width:45%;
    height: max-content;
    margin-top: 3 rem;
    text-align: center;

    
} 
.hero_section_content p{
    font-size: 45px;
    color:#1f4b43;
    max-width:600px ;
    word-break: break-word;
    text-align: center;
    gap: 3rem;
    margin-top: 50px;

    font-weight:bold ;
    font-family: 'Times New Roman', Times, serif;

}
.hero_section_content span{
    font-size: 14px;
    color: #35384b;
    padding: 0,3rem;
    text-align: center;
    word-break: break-word;
    max-width:500px ;
    margin: 0 25px;
  
}

.btn_container{
    gap:30px ;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    margin-right: 1rem;
    margin-left: 4rem;
}

@media (max-width: 768px) {
    .hero_section_container{
        height: 92vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        background-position: no-repeat;
        background-size: cover;
    }


.hero_section_content{
    width: 100%;
    padding: 0, 3rem;
    margin-top: 0rem;
    
}

.hero_section_content p{
    font-size:35px ;

}

.hero_section_content span {
    padding: 0 1rem;
}

.btn_container {
    display: flex;
    gap: 24px;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

}