.doyou_container {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: flex-start;
  padding: 10px 50px;
  position: relative;
  margin-bottom: 30px;
}

.flex {
  display: flex;
}

.doyou_text_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  position: relative;
  padding-left: 95px;
}

.doyou_text_content {
  text-align: left;
  z-index: 1;
  position: relative;
}

.doyou_title {
  font-size: 2.2em;
  font-weight: bolder;
  color: #1f4b43;
  margin: 0;
  margin-top: 150px;
  margin-right: 200px;
}

.doyou_description {
  font-size: 0.75em;
  line-height: 1.8;
  margin: 0;
  gap: 10px;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 55px;
}

.doyou_image_section {
  flex: 1.9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 220px;
  gap: 200px;
}

.main_image {
  width: 60%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  margin-top: -10px;
}

.download-buttons {
  display: flex;
  gap: 10px;
  margin-top: 22px;
}

.button-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1f4b43;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 50px;
}

.store-logo {
  width: 24px;
  height: auto;
  margin-right: 10px;
}

.button-text {
  font-size: 0.8em;
  color: #fff;
  background-color: transparent;
  border-radius: 0;
}

.first-line {
  font-size: 0.7em;
  font-weight: bold;
}

.second-line {
  font-size: 0.9em;
}

.second-button .button-text {
  font-size: 0.8em;
  color: #000;
  background-color: transparent;
  border-radius: 0; /* no border radius */
}

.second-button .first-line {
  font-size: 0.9em;
  font-weight: bold;
}

.second-button .second-line {
  font-size: 0.7em;
}

@media (max-width: 1024px) {
  .doyou_container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
    margin-right: 20px;
  }

  .doyou_text_section {
    padding-left: 0;
    text-align: center;
    margin-right: 0;
    margin-top: 20px;
  }

  .doyou_title {
    margin-right: 0;
  }

  .doyou_image_section {
    margin-right: 0;
    gap: 20px;
    margin-top: 35px;
  }

  .main_image {
    width: 80%;
    max-width: none;
    
  }
}

@media (max-width: 768px) {
  .doyou_title {
    font-size: 1.8em;
  }

  .doyou_description {
    font-size: 0.8em;
    padding-right: 0;
  }

  .main_image {
    width: 100%;
  
  }

  .button-item {
    width: 100%;
    margin-bottom: 10px;
  }
}
