.header_container{
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}

.header_cta_section{
    display: flex;
    gap:24px ;
    align-items: center;
    justify-content: space-between;

}
.header_cta_section ul li {
    list-style: name;
    font-style: normal;
}

.header_cta_section ul li a{
    color:#1f4b43;
    text-decoration:none;
    text-transform: capitalize;
    font-size: 14;
    font-family: "Courier New", 'Courier New', Courier, manropa
    
}