.header-container {
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #fff;
}

.logo-and-company {
    display: flex;
    align-items: center;
}

.logo {
    height: 25px;
    margin-right: 850px;
}

.company-name {
    font-size: 8px;
    font-weight: bold;
}

.header-cta-section {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto; 
    
}


.header-nav-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav-item {
    font-style: normal;
}

.header-nav-link {
    color: #1f4b43;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
}

.header-button-container {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1rem;
    }

    .header-cta-section {
        width: 100%;
        justify-content: flex-end;
        gap: 10px;
        padding-top: 10px;
    }

    .logo {
        padding-left: 10px;
    }

    .company-name {
        font-size: 18px;
    }

    .header-nav-list {
        display: none;
    }

    .header-button-container {
        flex-direction: row;
        gap: 10px;
    }
}


