.header-container {
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #fff;
}

.logo-and-company {
    display: flex;
    align-items: center;
}

.logo {
    height: 25px;
    margin-right: 10px; 
}

.company-name {
    font-size: 14px; 
    font-weight: bold;
}

.header-cta-section {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

.header-nav-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav-item {
    font-style: normal;
}

.header-nav-link {
    color: #1f4b43;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
}

.header-button-container {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header-container {
        flex-wrap: wrap;
        padding: 0 1rem;
        align-items: center; 
    }

    .logo-and-company {
        width: auto; 
    }

    .logo {
        margin-right: 10px; 
    }

    .company-name {
        font-size: 16px; 
    }

    .header-cta-section {
        width: auto; 
        gap: 10px;
        padding-top: 10px;
    }

    .header-nav-list {
        display: none; /* Hide the nav list on smaller screens */
    }

    .header-button-container {
        flex-direction: row;
        gap: 10px;
    }
}
