.outline{
    border: 2px solid #1f4b43;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 12px;
    padding: 12px;
    font-size: 14px;
    color: #1f4b43;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.outline:hover, .btn:hover{
    opacity:0.7;
}

.right_icon,
.left_icon{
    margin-top: 4px;
}


@media (max-width:768px) {
.btn,
.outline{
    padding: 10px;
    font-size: 11px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}}
.btn{
    border: 1px solid  #1f4b43;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 12px;
    padding: 12px;
    color: #fff;
    background-color: #1f4b43;
    font-size: 13px;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.right_icon, 
.left_icon {
    margin-top: 4px;
}