.outline{
    border: 1px solid#1f4b43;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 12px;
    padding: 12px;
    font-size: 14px;
    color: #1f4b43;
    cursor: pointer;
    font-weight: normal;
}


.btn{
    border: 1px solid#1f4b43;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 12px;
    padding: 12px;
    color: #fff;
    background-color: #1f4b43;
    font-size: 13px;
    cursor: pointer;
    font-weight: normal;
}




/* .button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.button.outline {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
}

.button:hover {
    background-color: #0056b3;
}

.button.outline:hover {
    background-color: #007bff;
    color: white;
} */
